<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="home.php" />
                <add value="index.html" />
                <add value="index.php" />
            </files>
        </defaultDocument>
        <httpErrors errorMode="Detailed" />
        <directoryBrowse enabled="true" showFlags="Extension" />
    </system.webServer>
</configuration>
